/* header style start*/

.header {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #007765;
  line-height: 28px;
}
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none; /* Убираем маркеры у списка */
 }
 li:before {
  content: "|";
 }

 .link {
  float: right;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.header_item {
  margin-right: 23px;
}
.header_item:last-child{
  margin-right: 0px;
}
/* header style end*/

.container_content {
  /* for all blocks */
  max-width: 1219px;
  padding-left: 55px;
  padding-right: 55px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.container_Net {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url(img/piperNet_Is_Here.png);
  background-position: center center;
  background-size: cover;
}
.Net_Is_txt {
  /* PiperNet Is Here */
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
}
.Problem {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #eeeeee;
}
.Problem_txt {
  /* The problem */
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #007765;
}
.all_together {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url(img/All_together.png);
  background-position: center center;
  background-size: cover;
}
.all_together_txt {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}
.Problem_par_txt {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}
.Introducing_PiedPiperCoin {
  /*Introducing PiedPiperCoin*/
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #007765;
  background: #ffffff;
}
.PPC_logo {
  width: 115px;
  height: 115px;
  display: flex;
}
.Introducing_PiedPiperCoin_txt_p1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  display: flex;
  color: #000000;
}
.Introducing_PiedPiperCoin_txt_p2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
  }
.The_team {
    /*The Team*/
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    background: #eeeeee;
}
.faces {
  display: flex;
  justify-content: space-between;
}

footer {
  padding-top: 48px;
  padding-bottom: 64px;
  background: #333333;
}
.footer-txt {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}